:root {
    --vh: 100%;
    max-width: 520px;
    margin: 0 auto;
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url('../assetsassets/font/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/font/Inter-Light.ttf');
}

@font-face {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/font/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/font/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/font/Inter-Bold.ttf');
}

a {
    text-decoration: none;
    color: inherit;
}
*,
body {
    box-sizing: border-box;
    font-family: 'Inter-Medium';
}

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}
button {
    cursor: pointer;
}

h1 {
    font-family: 'Inter-Bold';
}
