:root {
	--vh: 100%;
	max-width: 520px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: inherit;
}
* {
	box-sizing: border-box;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
body {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #f6f9f0;
}
ol,
ul {
	list-style: none;
}
button {
	cursor: pointer;
}
